.App {
  text-align: center;
  display:flex;
  min-height: 100vh;
  align-items:center;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  justify-content: center;
  color: darkblue;
  
  
}

.login , .form{
  background-color: rgb(237, 229, 229);
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  border: 3px solid darkblue;
  padding: 10px;
  border-radius: 3px;
  
}
.login1{
  font-size: larger;
  color: aliceblue;
  background-color: darkblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


label{
  text-align: left;
 
}

input{ 
  margin: 2em 0;
  border-color: darkblue;
  border-radius: 4px;
  width: 250px;

}

 button{
  
  border-radius: 10px;
  color:darkblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  padding:2px;
  border-color: darkblue;
  background-color: rgb(255, 254, 254);
  width: 100px;
  height: 40px;
  cursor: pointer;
  align-self: last baseline;
}

  


